{% extends "base.html" %}
{% block content %}
<!--About Page -->

<p>
	Hello! <br /> 
	My name is Mark Folashade and PinTube is my first web project. <br />
	I'm a beginning web developer based out of the Atlanta area. Always looking for opportunities to learn more about the industry and 
	available job prospects please feel free to get in touch if you're interested at
	<a href="mailto:ayodeji.folashade@gmail.com?subject=Hello!" target="_blank">ayodeji _dot_ folashade @ gmail _dot_ com</a>
	
</p>
{% endblock %}