{% extends "base.html" %}

{% block content %}

<h2>PinTube</h2>
<div class="row">
	<div class="col-md-4">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<!-- Nav tabs category -->
					<ul class="nav nav-tabs faq-cat-tabs">
						<li class="active">
							<a href="#faq-cat-1" data-toggle="tab">Videos</a>
						</li>
						<li>
							<a href="#faq-cat-2" data-toggle="tab">Playlists</a>
						</li>
						<li>
							<a href="#faq-cat-3" data-toggle="tab">Subscriptions</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content faq-cat-content">
						<div class="tab-pane active in fade" id="faq-cat-1">
							<!-- Video Table Information -->
							<div class="alert alert-info">
								Please Wait...
							</div>
							<div class="alert alert-success" style="display:none;">
								<span class="glyphicon glyphicon-ok"></span> Drag table row and change Order
							</div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="td-actions"> Add Video? </th>
										<th> Pinboard Youtube Video </th>
										<th> Column heading </th>
									</tr>
								</thead>
								<tbody>
									{% for vid in embed_videos %}
									<tr>
										<td> Column content </td>
										<td><!-- Button trigger modal -->
										<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
											Launch demo modal
										</button><!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
															&times;
														</button>
														<h4 class="modal-title" id="myModalLabel">Modal title</h4>
													</div>
													<div class="modal-body">
														{{vid|oembed()}}
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">
															Close
														</button>
														<button type="button" class="btn btn-primary">
															Save changes
														</button>
													</div>
												</div>
											</div>
										</div></td>
										<td> Column content </td>
									</tr>

									{% endfor %}
									<!--
									<tr class="active">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr>
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr class="success">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr>
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr class="warning">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr>
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr class="danger">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									-->
								</tbody>
							</table>

							<!--
							<div class="panel-group" id="accordion-cat-1">
							<div class="panel panel-default panel-faq">
							<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
							<h4 class="panel-title">
							FAQ Item Category #1
							<span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
							</h4>
							</a>
							</div>
							<div id="faq-cat-1-sub-1" class="panel-collapse collapse">
							<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>
							</div>
							<div class="panel panel-default panel-faq">
							<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
							<h4 class="panel-title">
							FAQ Item Category #1
							<span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
							</h4>
							</a>
							</div>
							<div id="faq-cat-1-sub-2" class="panel-collapse collapse">
							<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>
							</div>
							<div class="panel panel-default panel-faq">
							<div class="panel-heading">

							<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-1-sub-3">
							<h4 class="panel-title">
							FAQ Item Category #1
							<span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
							</h4>
							</a>

							</div>

							<div id="faq-cat-1-sub-2" class="panel-collapse collapse">
							<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>

							</div>
							</div>
							-->
						</div>

						<div class="tab-pane fade" id="faq-cat-2">
							<!-- Playlist Table Information -->
							<div class="alert alert-info">
								Please Wait...
							</div>
							<div class="alert alert-success" style="display:none;">
								<span class="glyphicon glyphicon-ok"></span> Drag table row and change Order
							</div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="td-actions"> Copy Playlist? </th>
										<th> Pinboard Youtube Playlists </th>
										<th> Column heading </th>
									</tr>
								</thead>
								<tbody>
									{% for playlist in embed_playlists %}
									<tr>
										<td> Column content </td>
										<td>
											<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
											Launch demo modal
										</button><!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
															&times;
														</button>
														<h4 class="modal-title" id="myModalLabel">Modal title</h4>
													</div>
													<div class="modal-body">
														{{playlist}}
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">
															Close
														</button>
														<button type="button" class="btn btn-primary">
															Save changes
														</button>
													</div>
												</div>
											</div>
										</div>
										</td>
										<td> Column content </td>
									</tr>

									{% endfor %}
									<!--
									<tr class="active">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr>
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr class="success">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr>
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr class="warning">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr>
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									<tr class="danger">
									<td> Column content </td>
									<td> Column content </td>
									<td> Column content </td>
									</tr>
									-->
								</tbody>
							</table>
							<!--
							<div class="panel-group" id="accordion-cat-2">

							<div class="panel panel-default panel-faq">
							<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1"> <h4 class="panel-title"> FAQ Item Category #2 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></h4> </a>
							</div>
							<div id="faq-cat-2-sub-1" class="panel-collapse collapse">
							<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>
							</div>
							<div class="panel panel-default panel-faq">
							<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2"> <h4 class="panel-title"> FAQ Item Category #2 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></h4> </a>
							</div>
							<div id="faq-cat-2-sub-2" class="panel-collapse collapse">
							<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>
							</div>

							</div>
							-->
						</div>
						<div class="tab-pane fade" id="faq-cat-3">
							<div class="panel-group" id="accordion-cat-3">
								<div class="panel panel-default panel-faq">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1"> <h4 class="panel-title"> FAQ Item Category #3 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></h4> </a>
									</div>
									<div id="faq-cat-3-sub-1" class="panel-collapse collapse">
										<div class="panel-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</div>
								<div class="panel panel-default panel-faq">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-3-sub-2"> <h4 class="panel-title"> FAQ Item Category #3 <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></h4> </a>
									</div>
									<div id="faq-cat-3-sub-2" class="panel-collapse collapse">
										<div class="panel-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>

</div>

<div class>

</div>

</div>
{% endblock %}