{% extends "base.html" %}

{% block content %}

<div class="row">
	<div>
		<form class="form-signin" action="" method="post" name="login">
			{{form.hidden_tag()}}
			<h2 class="form-signin-heading">Pinboard sign in</h2>

			<p>
				Please enter your User ID:
				<br>
				{{form.user_id(size=40, placeholder="User ID")}}
				<br>
				{% for error in form.errors.user_id %}
				<span style="color: red;">[{{error}}]</span>
				{% endfor %}
				<br>
			</p>
			<p>
				Please enter your Password:
				<br>
				{{form.password(size=40, placeholder="Password")}}
				<br>
			</p>
			<p>
				{{form.remember_me}} Remember Me
			</p>
			<p>
				<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">
			</p>

			<!--

			<input type="text" class="form-control" placeholder="Email address" required autofocus>
			<input type="password" class="form-control" placeholder="Password" required>
			<label class="checkbox">
			<input type="checkbox" value="remember-me">
			Remember me </label>
			<button class="btn btn-lg btn-primary btn-block" type="submit">
			Sign in
			</button>
			-->

		</form>
	</div>
</div>

{% endblock %}
